<div style="
    text-align: center;
    font-family: Arial, sans-serif;
    color: #333;
    background: linear-gradient(135deg, #e8f5e9, #c8e6c9);
    padding: 20px;
    border: 2px solid #a5d6a7;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin: auto;
">
    <h3 style="
        color: #388e3c;
        margin-bottom: 10px;
        font-size: 1.8em;
    ">
        Ми сумуємо за вами, {{name}}!
    </h3>
    <p style="
        font-size: 1.2em;
        line-height: 1.5;
        color: #555;
    ">
        Ви не заходили до нашого застосунку вже 5 днів. Ми підготували для вас нові цікаві функції та пропозиції. Поверніться, щоб дізнатися більше!
    </p>
    <a href="{{frontUrl}}" style="
        display: inline-block;
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #388e3c;
        color: #fff;
        text-decoration: none;
        font-size: 1.2em;
        border-radius: 5px;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s ease;
    " onmouseover="this.style.backgroundColor='#2e7d32'" onmouseout="this.style.backgroundColor='#388e3c'">
        Повернутися
    </a>
    <p style="
        margin-top: 20px;
        font-size: 1em;
        line-height: 1.5;
        color: #777;
    ">
        Якщо ви маєте питання або потребуєте допомоги, наша команда завжди готова допомогти. Просто зв’яжіться з нами!
    </p>
</div>
