<div style="text-align: center;">
    <h3>Hello, {{name}}!</h3>
    <p>Welcome to our platform. We’re excited to have you on board.</p>
    <a href="{{frontUrl}}/activate?token={{actionToken}}">VERIFY</a>
</div>